.undoneExercise{
  border-width: 1px;
  background-color: rgb(245, 250, 244);
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  width: 400px;
  color:black;
  margin-top: 1%;
}

.failedExercise{
  border-width: 1px;
  background-color: rgb(247, 115, 92);
  margin-top: 2px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  width: 400px;
  color:black;
}

.succeedExercise{
  border-width: 1px;
  background-color: rgb(138, 241, 90);
  margin-top: 2px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  width: 400px;
  color:black;
}
