<div class="trainingDialog">
  <h2 mat-dialog-title>{{trainingName}}</h2>

  <mat-dialog-content>
    <div *ngFor="let exercise of exercises; let i=index" >
      <div [ngClass]="{'undoneExercise': exercise.status==0, 'succeedExercise': exercise.status == 1, 'failedExercise': exercise.status == 2}">
        <label style="float: left; height: 10px;">Nazwa:</label>
        <b>&nbsp;{{exercise.name}}</b><button (click)="exerciseDone(i)" class="btn btn-success" style="margin-right: 5%;float:right; height: 20px; font-size: smaller; line-height: 0px;">Udało się!</button><br>
        Serie:
        {{exercise.series}}<button (click)="exerciseFailed(i)" class="btn btn-danger" style="margin-top: 2%; margin-right: 5%;float:right; height: 20px; font-size: smaller; line-height: 0px;">Nie udało się</button><br>
        Powtórzenia:
        {{exercise.reps}}<br>
        Ciężar:
        {{exercise.weight}}<br>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions style="vertical-align: bottom;">
    <button class="btn btn-secondary" style="margin-right: 33px;" (click)="close()">Zamknij</button>
    <button class="btn btn-danger" style="margin-right: 33px;" (click)="delete()">Usuń</button>
    <button class="btn btn-warning" style="margin-right: 35px;" (click)="duplicateTraining()">Duplikuj</button>
    <button class="btn btn-success" (click)="edit()">Edytuj</button>
  </mat-dialog-actions>
</div>
