h1 {
    margin-top: 1%;
    float: left;
}

th{
  width: 14.28%;
}

.plan {
    margin-left: 5%;
    margin-right: 5%;
}

.dodajTrening{
    margin-top: 1.5%;
    float: right;
    height: 75px;
}

table{
    width: 100%;
    margin-bottom: 2px;
}

tr{
  text-align: center;
  width: 100%;
}

.tableContent{
  width: 100%;
}

.treningiPoniedzialek{
  text-align: center;
  margin-bottom: 2px;
  background-color: rgb(236, 236, 236);
  margin-left: 6%;
  width: 100%;
}

.treningiWtorek{
  text-align: center;
  margin-bottom: 2px;
  background-color: rgb(236, 236, 236);
  margin-left: 4%;
  width: 100%;
}

.treningiSroda{
  text-align: center;
  margin-bottom: 2px;
  background-color: rgb(236, 236, 236);
  margin-left: 2.5%;
  width: 100%;
}

.treningiCzwartek{
  text-align: center;
  margin-bottom: 2px;
  background-color: rgb(236, 236, 236);
  width: 100%;
}

.treningiPiatek{
  text-align: center;
  margin-bottom: 2px;
  background-color: rgb(236, 236, 236);
  margin-left: -2.5%;
  width: 100%;
  }

.treningiSobota{
  margin-bottom: 2px;
  background-color: rgb(236, 236, 236);
  text-align: center;
  margin-left: -5%;
  width: 100%;
  }

.treningiNiedziela{
  margin-bottom: 2px;
  background-color: rgb(236, 236, 236);
  text-align: center;
  width: 100%;
  margin-left: -6%;
  }
