<body style="background-color:rgb(68, 68, 68);">
  <div class="plan">
    <div>
      <h1 style="font-size: 40px; color: rgb(255, 255, 255);">Twój tygodniowy plan:</h1>
    </div>
    <div class="dodajTrening">
      <nav style="height: 38px; display: inline-block;">
        <button class="btn btn-info" style="margin-right: 40px;" routerLink="/statistics">Statystyki</button>
        <button type="button" class="btn btn-warning" style="margin-right: 40px;" (click)="changeWeekMinus()">Poprzedni
          tydzień</button>
        <button type="button" class="btn btn-dark" style="margin-right: 40px;" (click)="changeWeekPlus()">Przyszły
          tydzień</button>
        <button class="btn btn-success" routerLink="/dodaj-trening">Dodaj
          trening</button>
      </nav>
    </div>
    <div>
      <table class="table" style="color: rgb(255, 255, 255);">
        <thead>
          <tr>
            <th style="font-weight: lighter;">Poniedziałek<br>
              {{MondayDate | date:'dd/MM/yyyy'}}
            </th>
            <th style="font-weight: lighter;">Wtorek<br>
              {{TuesdayDate | date:'dd/MM/yyyy'}}
            </th>
            <th style="font-weight: lighter;">Środa<br>
              {{WednesdayDate | date:'dd/MM/yyyy'}}
            </th>
            <th style="font-weight: lighter;">Czwartek<br>
              {{ThursdayDate | date:'dd/MM/yyyy'}}
            </th>
            <th style="font-weight: lighter;">Piątek<br>
              {{FridayDate | date:'dd/MM/yyyy'}}
            </th>
            <th style="font-weight: lighter;">Sobota<br>
              {{SaturdayDate | date:'dd/MM/yyyy'}}
            </th>
            <th style="font-weight: lighter;">Niedziela<br>
              {{SundayDate | date:'dd/MM/yyyy'}}
            </th>
          </tr>
        </thead>
      </table>
      <div *ngIf="trainings.length">
        <div class="tableContent">
          <div class="row">
            <div class="col">
              <div *ngFor="let training of mondayTrainings; let i = index;" (click)="openDialog(i, training.date)">
                <div class="treningiPoniedzialek">
                  <label>{{training.startTime}}</label><br>
                  <label><b>{{training.name}}</b></label><br>
                  <label>{{training.endTime}}</label>
                </div>
              </div>
            </div>
            <div class="col">
              <div *ngFor="let training of tuesdayTrainings; let i = index;" (click)="openDialog(i, training.date)">
                <div class="treningiWtorek">
                  <label>{{training.startTime}}</label><br>
                  <label><b>{{training.name}}</b></label><br>
                  <label>{{training.endTime}}</label>
                </div>
              </div>
            </div>
            <div class="col">
              <div *ngFor="let training of wednesdayTrainings let i = index;" (click)="openDialog(i, training.date)">
                <div class="treningiSroda">
                  <label>{{training.startTime}}</label><br>
                  <label><b>{{training.name}}</b></label><br>
                  <label>{{training.endTime}}</label>
                </div>
              </div>
            </div>
            <div class="col">
              <div *ngFor="let training of thursdayTrainings; let i = index;" (click)="openDialog(i, training.date)">
                <div class="treningiCzwartek">
                  <label>{{training.startTime}}</label><br>
                  <label><b>{{training.name}}</b></label><br>
                  <label>{{training.endTime}}</label>
                </div>
              </div>
            </div>
            <div class="col">
              <div *ngFor="let training of fridayTrainings; let i = index;" (click)="openDialog(i, training.date)">
                <div class="treningiPiatek">
                  <label>{{training.startTime}}</label><br>
                  <label><b>{{training.name}}</b></label><br>
                  <label>{{training.endTime}}</label>
                </div>
              </div>
            </div>
            <div class="col">
              <div *ngFor="let training of saturdayTrainings; let i = index;" (click)="openDialog(i, training.date)">
                <div class="treningiSobota">
                  <label>{{training.startTime}}</label><br>
                  <label><b>{{training.name}}</b></label><br>
                  <label>{{training.endTime}}</label>
                </div>
              </div>
            </div>
            <div class="col">
              <div *ngFor="let training of sundayTrainings; let i = index;" (click)="openDialog(i, training.date)">
                <div class="treningiNiedziela">
                  <label>{{training.startTime}}</label><br>
                  <label><b>{{training.name}}</b></label><br>
                  <label>{{training.endTime}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="trainings.length == 0">
      <div class="text-center">
        <label
          style="font-size: 80px; text-align: center; color:white; font-weight: lighter; margin-top: 10%; opacity: 30%;"><b>Brak
            treningów w tym tygodniu !</b></label>
      </div>
    </div>
  </div>
</body>
