<body style="background-color:rgb(68, 68, 68); height: auto; padding-bottom: 20%;">
  <div style="width: 100%;">
    <button class="btn btn-light;" style="float:left; background-color: white; margin-left: 1%; margin-top: 1%;"
      routerLink=''>Wróć do planu</button>
    <div style="padding-left: 3%; padding-top: 2%;">
      <h1 class="text-center" style="font-size: 40px; color:white;">Dodaj/Edytuj trening</h1><br>
    </div>
    <div class="container" style="color:white; margin-top: 1%;">
      <div class="left">
        <div *ngIf="value == 0">
          <form [formGroup]="exerciseForm">
            <div *ngIf="exerciseIdToEdit==0"><label style="font-size: x-large;">Dodaj ćwiczenie do treningu:
              </label><br></div>
            <div *ngIf="exerciseIdToEdit!=0"><label style="font-size: x-large;">Edytuj ćwiczenie w treningu:
              </label><br></div>
            <div class="form-group">
              Nazwa<br>
              <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submittedExerciseForm && e.name.errors && !resetForm }">
              <div *ngIf="submittedExerciseForm && e.name.errors && !resetForm" class="alert alert-danger">
                <div *ngIf="e.name.errors.required && !resetForm">
                  Nazwa ćwiczenia jest wymagana.
                </div>
              </div>
            </div>
            <div class="form-group">
              Ilość serii<br>
              <input type="number" formControlName="series" class="form-control"
                [ngClass]="{ 'is-invalid': submittedExerciseForm && e.series.errors && !resetForm}" min="1" max="30">
              <div *ngIf="submittedExerciseForm && e.series.errors && !resetForm" class="alert alert-danger">
                <div *ngIf="e.series.errors.required && !resetForm">
                  Ilość serii jest wymagana.
                </div>
              </div>
            </div>
            <div class="form-group">
              Ilość powtórzeń<br>
              <input type="number" formControlName="reps" class="form-control"
                [ngClass]="{ 'is-invalid': submittedExerciseForm && e.reps.errors && !resetForm}" min="1" max="30">
              <div *ngIf="submittedExerciseForm && e.reps.errors && !resetForm" class="alert alert-danger">
                <div *ngIf="e.reps.errors.required && !resetForm">
                  Ilość powtórzeń jest wymagana.
                </div>
              </div>
            </div>
            <div class="form-group">
              Ciężar (kg)<br>
              <input type="number" formControlName="weight" class="form-control"
                [ngClass]="{ 'is-invalid': submittedExerciseForm && e.weight.errors && !resetForm}">
              <div *ngIf="submittedExerciseForm && e.weight.errors && !resetForm" class="alert alert-danger">
                <div *ngIf="e.weight.errors.required && !resetForm">
                  Ilość ciężaru jest wymagana.
                </div>
              </div>
              <button (click)="changeWeight(e.weight.value,-5)" class="btn btn-danger" style="width:28px; padding-left: 0; padding-right: 0;
                margin-top:3px; margin-right:2px; font-size: smaller;">-5</button>
              <button (click)="changeWeight(e.weight.value,-2.5)" class="btn btn-danger" style="width:40px; padding-left: 0; padding-right: 0;
                margin-top:3px; margin-right:2px; font-size: smaller;">-2.5</button>
              <button (click)="changeWeight(e.weight.value,-1.25)" class="btn btn-danger" style="width:50px; padding-left: 0; padding-right: 0;
                margin-top:3px; margin-right:2px; font-size: smaller;">-1.25</button>
              <button (click)="changeWeight(e.weight.value,-0.5)" class="btn btn-danger" style="width:40px; padding-left: 0; padding-right: 0;
                margin-top:3px; margin-right:2px; font-size: smaller;">-0.5</button>
              <button (click)="changeWeight(e.weight.value, 0.5)" class="btn btn-success" style="width:40px; padding-left: 0; padding-right: 0;
                margin-top:3px; margin-right:2px; font-size: smaller;">+0.5</button>
              <button (click)="changeWeight(e.weight.value, 1.25)" class="btn btn-success" style="width:50px; padding-left: 0; padding-right: 0;
                margin-top:3px; margin-right:2px; font-size: smaller;">+1.25</button>
              <button (click)="changeWeight(e.weight.value, 2.5)" class="btn btn-success" style="width:40px; padding-left: 0; padding-right: 0;
                margin-top:3px; margin-right:2px; font-size: smaller;">+2.5</button>
              <button (click)="changeWeight(e.weight.value, 5)" class="btn btn-success" style="width:29px; padding-left: 0; padding-right: 0;
                margin-top:3px; margin-right:2px; font-size: smaller;">+5</button>
              <div style="margin-top: 2px" *ngIf="exerciseSucceed == 2" class="alert alert-danger">
                Na ostatnim treningu tego typu nie udało Ci się wykonać tego ćwiczenia.
                Zmniejsz ciężar, ilość powtórzeń lub serii.
              </div>
              <div style="margin-top: 2px" *ngIf="exerciseSucceed == 1" class="alert alert-success">
                Na ostatnim treningu udało Ci się wykonać to ćwiczenie.
                Możesz zwiększyć ciężar, ilość powtórzeń lub serii!
              </div>
            </div>
            <div class="form-group" *ngIf="exerciseIdToEdit==0">
              <button (click)=addExercise(e.name.value,e.series.value,e.reps.value,e.weight.value) style="width: 100%;"
                class="btn btn-primary">
                Dodaj ćwiczenie</button>
            </div>
            <div class="form-group" *ngIf="exerciseIdToEdit!=0">
              <button (click)=addExercise(e.name.value,e.series.value,e.reps.value,e.weight.value) style="width: 100%;"
                class="btn btn-primary">
                Edytuj ćwiczenie</button>
            </div>
          </form>
        </div>
      </div>
      <div class="center">
        <label style="font-size: x-large;">Dodane ćwiczenia:</label><br>
        <div *ngFor="let exercise of exercises; let i = index"
          [ngClass]="{'undoneExercise': exercise.status==0, 'succeedExercise': exercise.status == 1, 'failedExercise': exercise.status == 2}"
          (click)="editExistingExercise(i)">
          Nazwa:
          <b>{{exercise.name}}</b><b style="float: right; margin-right: 2%; cursor: pointer;"
            (click)="deleteExercise(i)" #tooltip="matTooltip" matTooltip="Usuń ćwiczenie">x</b><br>
          Serie:
          {{exercise.series}}<br>
          Powtórzenia:
          {{exercise.reps}}<br>
          Ciężar:
          {{exercise.weight}}<br>
        </div>
      </div>
      <div class="right">
        <label style="font-size: x-large;">Trening:</label> <br>
        <form [formGroup]="trainingForm">
          Nazwa<br>
          <div class="form-group">
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submittedTrainingForm && t.name.errors }">
            <div *ngIf="submittedTrainingForm && t.name.errors" class="alert alert-danger">
              <div *ngIf="t.name.errors.required">
                Nazwa treningu jest wymagana.
              </div>
            </div>
          </div>
          <div class="form-group">
            Data<br>
            <input type="date" formControlName="date" class="form-control"
              [ngClass]="{ 'is-invalid': submittedTrainingForm && t.date.errors }">
            <div *ngIf="submittedTrainingForm && t.date.errors" class="alert alert-danger">
              <div *ngIf="t.date.errors.required">
                Data treningu jest wymagana.
              </div>
            </div>
          </div>
          <div class="form-group">
            Godzina od <input type="time" class="form-control" formControlName="startTime"
              [ngClass]="{ 'is-invalid': submittedTrainingForm && t.startTime.errors }">
            <div *ngIf="submittedTrainingForm && t.startTime.errors" class="alert alert-danger">
              <div *ngIf="t.startTime.errors.required">
                Godzina rozpoczęcia treningu jest wymagana.
              </div>
            </div>
          </div>
          <div class="form-group">
            Godzina do <input type="time" class="form-control" formControlName="endTime"
              [ngClass]="{ 'is-invalid': submittedTrainingForm && t.endTime.errors }">
            <div *ngIf="submittedTrainingForm && t.endTime.errors" class="alert alert-danger">
              <div *ngIf="t.endTime.errors.required">
                Godzina zakończenia treningu jest wymagana.
              </div>
            </div>
          </div>
          <div class="form-group">
            <button (click)=addTraining(t.name.value,t.date.value,t.startTime.value,t.endTime.value)
              style="width: 100%; text-align: center;" type="submit" class="btn btn-success">
              Zatwierdź trening</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
