.container{
  display:grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-column-gap: 4%;
 }

 .center{
   text-align: center;
 }

 .undoneExercise{
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.89);
  margin-top: 2px;
  padding-top: 3px;
  padding-left: 10px;
  padding-bottom: 3px;
  width: 100%;
  color:black;
  cursor: pointer;
  font-size: 14px;
}

.failedExercise{
  border-width: 1px;
  background-color: rgb(241, 113, 90);
  margin-top: 2px;
  padding-top: 3px;
  padding-left: 10px;
  padding-bottom: 3px;
  width: 100%;
  color:black;
  cursor: pointer;
  font-size: 14px;
}

.succeedExercise{
  border-width: 1px;
  background-color: rgb(138, 241, 90);
  margin-top: 2px;
  padding-top: 3px;
  padding-left: 10px;
  padding-bottom: 3px;
  width: 100%;
  color:black;
  cursor: pointer;
  font-size: 14px;
}
