<form [formGroup]="trainingForm">
  <div class="form-group">
    Data<br>
    <input type="date" formControlName="date" class="form-control"
      [ngClass]="{ 'is-invalid': submittedTrainingForm && t.date.errors }">
    <div *ngIf="submittedTrainingForm && t.date.errors" class="alert alert-danger">
      <div *ngIf="t.date.errors.required">
        Data treningu jest wymagana.
      </div>
    </div>
  </div>
  <div class="form-group">
    Godzina od <input type="time" class="form-control" formControlName="startTime"
      [ngClass]="{ 'is-invalid': submittedTrainingForm && t.startTime.errors }">
    <div *ngIf="submittedTrainingForm && t.startTime.errors" class="alert alert-danger">
      <div *ngIf="t.startTime.errors.required">
        Godzina rozpoczęcia treningu jest wymagana.
      </div>
    </div>
  </div>
  <div class="form-group">
    Godzina do <input type="time" class="form-control" formControlName="endTime"
      [ngClass]="{ 'is-invalid': submittedTrainingForm && t.endTime.errors }">
    <div *ngIf="submittedTrainingForm && t.endTime.errors" class="alert alert-danger">
      <div *ngIf="t.endTime.errors.required">
        Godzina zakończenia treningu jest wymagana.
      </div>
    </div>
  </div>
  <div class="form-group">
    <button (click)=duplicateTraining(t.date.value,t.startTime.value,t.endTime.value)
      style="text-align: center; float: right;" type="submit" class="btn btn-success">
      Duplikuj trening</button>
    <button (click)="close()"
      style="text-align: center; float: left;" class="btn btn-secondary">
      Anuluj</button>
  </div>
</form>
