/* You can add global styles to this file, and also import other style files */
router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-dialog-container{
  background-color: rgb(68, 68, 68);
  color:white;
}
