.exercise{
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.89);
  margin-top: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  color:black;
  cursor: pointer;
  font-size: 14px;
  margin-left:2%;
}

.exerciseChosen{
  border-width: 1px;
  background-color: rgba(83, 185, 253, 0.89);
  margin-top: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  color:black;
  cursor: pointer;
  font-size: 14px;
  margin-left:2%;
}
