<body style="background-color:rgb(68, 68, 68); height: auto; padding-bottom: 12%;">
  <button class="btn btn-light;" style="float:right; background-color: white; margin-right: 1%; margin-top: 1%;"
    routerLink=''>Wróć do planu</button>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <h1 style="color:white; padding-top: 2%; text-align: center;">Ćwiczenia: </h1>
        <div style="height: 70%; overflow-y: scroll; overflow-x: hidden;">
          <div *ngFor="let f of filtredExercises; let i = index">
            <div [ngClass]="{'exercise': exerciseChose[i]==false, 'exerciseChosen': exerciseChose[i]==true}"
              (click)="checkProgress(i)">
              <h2 style="text-align: center; padding-top: 3%;">
                <b>{{f.name[0].toUpperCase() + f.name.substring(1)}}</b></h2><br>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8" *ngIf="exerciseChosen == false">
        <div class="text-center">
          <label style="margin-top: 20%; text-align:center; font-size: 72px; color:white; opacity: 30%;">Wybierz
            ćwiczenie z
            listy</label>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="text-center" *ngIf="exerciseChosen == true">
          <label style="font-size: 40px; color:white; text-align: center;">
            {{this.filtredExercises[this.previewExerciseChosen].name[0].toUpperCase() +
        this.filtredExercises[this.previewExerciseChosen].name.substring(1)}}</label>
        </div>
        <div [hidden]="!viewChart" class="chart-container">
          <canvas id='myChart'></canvas>
        </div>
        <div *ngIf="viewChart == false && exerciseChosen == true">
          <div class="text-center">
            <label style="margin-top: 15%; font-size: 40px; color:white; opacity: 30%; text-align: center;">
              Ćwiczenie nigdy nie zostało wykonane,<br> nie można stworzyć wykresu
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
